{% extends session.get('base_layout', 'admin/base.html') %}

{% block content %}
<fieldset class="layui-elem-field layui-field-title">
  <legend>编辑用户</legend>
</fieldset>

<form class="layui-form" action="" method="post" style="width: 500px;">
  <div class="layui-form-item">
    <label class="layui-form-label">用户名</label>
    <div class="layui-input-block">
      <input type="text" name="username" required  lay-verify="required" value="{{ user['username'] }}" autocomplete="off" class="layui-input">
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">密码</label>
    <div class="layui-input-block">
      <input type="password" name="password" placeholder="留空则不修改密码" autocomplete="off" class="layui-input">
    </div>
  </div>
  <div class="layui-form-item">
    <div class="layui-input-block">
      <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
      <a href="{{ url_for('admin.user_list') }}" class="layui-btn layui-btn-primary">返回</a>
    </div>
  </div>
</form>

<script>
layui.use('form', function(){
  var form = layui.form;
});
</script>
{% endblock %}
